.composition {
  position: relative;
  &__img {
    width: 55%;
    position: absolute;
    box-shadow: 0 1.5rem 3rem rgba($color-black, 0.3);
    border-radius: 2px;
    transition: all.25s;
    outline-offset: 1rem;

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      transform: scale(1.05) translateY(-0.5px);
      box-shadow: 0 2rem 5rem rgba($color-black, 0.5);
      z-index: 20;
      outline: 0.8rem solid $color-primary-dark;
    }
  }

  &:hover &__img:not(:hover) {
    transform: scale(0.95);
  }
}
